---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"name":"Test-LogStream-1674668511","type":"eventbridge","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000011634","name":"Test-LogStream-1674668511","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/authok.com/authok-go-dev.eu.authok.com-387bb0d8-81ce-44d1-bd4f-531586933bab/authok.logs"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 838.468584ms
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"filters":[{"name":"auth.login.fail","type":"category"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/log-streams/lst_0000000000011634
        method: PATCH
      response:
        body: '{"id":"lst_0000000000011634","name":"Test-LogStream-1674668511","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/authok.com/authok-go-dev.eu.authok.com-387bb0d8-81ce-44d1-bd4f-531586933bab/authok.logs"},"filters":[{"name":"auth.login.fail","type":"category"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 109.920333ms
[...]
