---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"domain":"1674668763.auth.uat.authok.com","type":"authok_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_FEt6ft8M0RkBUDsp","domain":"1674668763.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-fet6ft8m0rkbudsp.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.849140708s
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_FEt6ft8M0RkBUDsp
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 4.505441292s
    - id: 2
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_FEt6ft8M0RkBUDsp
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The custom domain cd_FEt6ft8M0RkBUDsp does not exist","errorCode":"inexistent_custom_domain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 105.840042ms
[...]
