---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"domain":"1674668780.auth.uat.authok.com","type":"authok_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_IXrkgIcEAN0hJbuV","domain":"1674668780.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-ixrkgicean0hjbuv.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.651002083s
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_IXrkgIcEAN0hJbuV/verify
        method: POST
      response:
        body: '{"custom_domain_id":"cd_IXrkgIcEAN0hJbuV","domain":"1674668780.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-ixrkgicean0hjbuv.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 156.825375ms
    - id: 2
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_IXrkgIcEAN0hJbuV
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 4.54848725s
