---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/branding
        method: GET
      response:
        body: '{"colors":{"primary":"#0059d6","page_background":"#000000"},"favicon_url":"https://mycompany.org/favicon.ico","font":{"url":"https://mycompany.org/font/myfont.ttf"},"logo_url":"https://mycompany.org/v1/logo.png"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.039083ms
