---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"domain":"1674668556.auth.uat.authok.com","type":"authok_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_DHYNDw1TXPiTDg9V","domain":"1674668556.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-dhyndw1txpitdg9v.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.894645667s
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            "\u003c!DOCTYPE html\u003e\u003chtml\u003e\u003chead\u003e{%- authok:head -%}\u003c/head\u003e\u003cbody\u003e{%- authok:widget -%}\u003c/body\u003e\u003c/html\u003e"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/branding/templates/universal-login
        method: PUT
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 336.2775ms
    - id: 2
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/branding/templates/universal-login
        method: GET
      response:
        body: '{"body":"<!DOCTYPE html><html><head>{%- authok:head -%}</head><body>{%- authok:widget -%}</body></html>"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 146.679916ms
[...]
    - id: 4
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_DHYNDw1TXPiTDg9V
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 4.398289791s
