---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"domain":"1674668771.auth.uat.authok.com","type":"authok_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_xFmdOfl4i2CwG9Rk","domain":"1674668771.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-xfmdofl4i2cwg9rk.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.961443458s
[...]
    - id: 2
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_xFmdOfl4i2CwG9Rk
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 4.549778792s
