---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"domain":"1674668736.auth.uat.authok.com","type":"authok_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_Qgv4RYP5j8Eovjl5","domain":"1674668736.auth.uat.authok.com","primary":true,"status":"pending_verification","type":"authok_managed_certs","verification":{"methods":[{"name":"cname","record":"authok-go-dev.eu.authok.com-cd-qgv4ryp5j8eovjl5.edge.tenants.eu.authok.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.760022375s
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/custom-domains/cd_Qgv4RYP5j8Eovjl5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 5.091435792s
