---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user","smtp_pass":"pass"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/emails/provider
        method: POST
      response:
        body: '{"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 121.083417ms
[...]
