---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/actions/triggers
        method: GET
      response:
        body: '{"triggers":[{"id":"post-login","version":"v1","status":"DEPRECATED","runtimes":["node12"],"default_runtime":"node12","compatible_triggers":[]},{"id":"post-login","version":"v2","status":"DEPRECATED","runtimes":["node12","node16","node18"],"default_runtime":"node16","compatible_triggers":[]},{"id":"post-login","version":"v3","status":"CURRENT","runtimes":["node12","node16","node18"],"default_runtime":"node16","compatible_triggers":[{"id":"post-login","version":"v2"}]},{"id":"credentials-exchange","version":"v2","status":"CURRENT","runtimes":["node12","node16","node18"],"default_runtime":"node16","compatible_triggers":[]},{"id":"cred[...]
