---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/attack-protection/suspicious-ip-throttling
        method: GET
      response:
        body: '{"enabled":true,"shields":["block","admin_notification"],"allowlist":["127.0.0.1"],"stage":{"pre-login":{"max_attempts":1,"rate":34560},"pre-user-registration":{"max_attempts":1,"rate":1200}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 167.981375ms
