---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"name":"Test-AD-Connection-1674668511","strategy":"ad","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/connections
        method: POST
      response:
        body: '{"id":"con_jgSwy6no6kdmpvIb","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1674668511","provisioning_ticket_url":"https://authok-go-dev.eu.authok.com.eu.authok.com/p/ad/8gRJFxSqvVhtgXw5VuOohfaHEVdD2kou","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 6.282886458s
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/connections/con_jgSwy6no6kdmpvIb
        method: DELETE
      response:
        body: '{"deleted_at":"2023-01-25T17:43:35.916Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 132.793166ms
