---
version: 2
interactions:
    - id: 0
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/guardian/factors/push-notification/providers/sns
        method: GET
      response:
        body: '{"aws_access_key_id":"test1","aws_region":"us-west-1","sns_apns_platform_application_arn":"test_arn","sns_gcm_platform_application_arn":"test_arn"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.441959ms
    - id: 1
      request:
        host: authok-go-dev.eu.authok.com
        body: |
            {"aws_access_key_id":"test","aws_secret_access_key":"test_secret","aws_region":"us-west-1","sns_apns_platform_application_arn":"test_arn","sns_gcm_platform_application_arn":"test_arn"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://authok-go-dev.eu.authok.com/api/v1/guardian/factors/push-notification/providers/sns
        method: PUT
      response:
        body: '{"aws_access_key_id":"test","aws_secret_access_key":"test_secret","aws_region":"us-west-1","sns_apns_platform_application_arn":"test_arn","sns_gcm_platform_application_arn":"test_arn"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 292.523167ms
[...]
